Polynomial ---> Multiple classes with the same method name

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model
  def move(self):
    print("Drive")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail")

car1 = Car("Ford", "Mustang")
boat1 = Boat("Ilaza", "Touring 20") # Create bot class

for x in (car1,boat1):
  x.move()

Drive
Sail

In [ ]:
# here car, boat, plane are the child class of vehicle

class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail")


class Plane(Vehicle):
  def move(self):
    print("Fly")

car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")


for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()
  print()

Ford
Mustang
Move

Ibiza
Touring 20
Sail

Boeing
747
Fly

In [ ]:
# 3 --> Local Scope
def myFunc():
  x = 300
  print(x)

myFunc()

300

In [ ]:
# 4 --> Global Scope

x = 300
def myFunc():
  print(x)
myFunc()
print(x)

300
300

In [ ]:
# 5 --> Global Keyword
def muFunc():
  global x
  x = 300

myFunc()
print(x)

300
300

In [ ]:
# Python Module

def greeting(name):
  print("Hello, "+name)

greeting("Rohit")

Hello, Rohit

In [ ]:
# Python Datetime

import datetime

x = datetime.datetime.now()
print(x)

2024-02-21 02:26:24.973477

In [ ]:
# Return the year and name of weekday

import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2024
Wednesday

In [ ]:
# Creating Date Object
import datetime

x = datetime.datetime(2020,5,17)
print(x)

2020-05-17 00:00:00

In [ ]:
# Python Math

x = min(5,10,25)
y = max(5,10,25)

print(x)
print(y)

5
25

In [ ]:
# abs() --> return absolute (positive) value

x = abs(-7.25)
print(x)

7.25

In [ ]:
x = pow(4,3)
print(x)

64

In [ ]:
# math module -- extends the list of mathematics function

import math

x = math.sqrt(64)

print(x)

8.0

In [ ]:
# math.ceil() ---> rounds a number upwards to its nearest integer
# math.floor()

import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x)
print(y)

2
1

In [ ]:
import math

x = math.pi
print(x)

3.141592653589793

In [ ]:
# JSON ---> syntax for storing and exchanging data

import json

x = '{"name":"John", "Age":30, "City":"New York"}'

y = json.loads(x)
print(y["Age"])

30

In [ ]:
# Regular Expression -- RegEx

import re

txt = "The rain in Spain"
x = re.search("^The.*Spain",txt)

if x:
  print("Yes! We have a match")
else:
  print("No ")